# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Lee\Documents\Fall 2020\CSCI 3920 - 001 Adv Prog Java & Python\PA1\JavaPA1GUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
